<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student Dashboard</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/Logo.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/student_dashboard.css' %}">
    <script src="{% static 'js/header.js' %}"></script>
    
</head>
<body style="background-image: url({% static 'images/Background2.svg' %})">
    <header>
        <div class="logo-container">
            <img id="logo" src="{% static 'images/Logo.svg' %}" alt="Logo" height="50px">
        </div>
        <nav class="nav-content">
            <div class="nav-links">
                <a href="#" class="nav-item" id="nav-item0">Dashboard</a>
                <a href="{% url 'student_check_in' %}" class="nav-item" id="nav-item1">Check In</a>
                <a href="{% url 'student_statistics' %}" class="nav-item" id="nav-item2">Statistics</a>
                <a href="{% url 'student_remarks' %}" class="nav-item" id="nav-item3">Remarks</a>
                <a href="{% url 'student_leave' %}" class="nav-item" id="nav-item4">Leave Application</a>
            </div>
        </nav>

        <div class="right-container">
            <div class="notifications" id="notifications">
                <img alt="Notifications icon" height="25px" src="{% static 'images/icons/Notifications.svg' %}" />
            </div>
            <div class="burger-menu" id="burger-menu">
                <img src="{% static 'images/icons/burger-menu.svg' %}" alt="burger-menu-icon">
            </div>
        </div>

        <div class="dropdown-menu" id="notification-dropdown-menu">
            <h2>Notifications</h2>
            <a class="menu-item" href="#">Notification 1</a>
            <a class="menu-item" href="#">Notification 2</a>
            <a class="menu-item" href="#">Notification 3</a>
            <div class="footer">
                <span>View All</span>
            </div>
        </div>

        <div class="burger-dropdown" id="burger-dropdown">
            <h2>Menu</h2>
            <a class="menu-item" href="#">Dashboard</a>
            <a class="menu-item" href="{% url 'student_check_in' %}">Check In</a>
            <a class="menu-item" href="#">Statistics</a>
            <a class="menu-item" href="#">Remarks</a>
            <a class="menu-item" href="#">Leave Application</a>
            <hr>
            <a class="menu-item" href="{% url 'profile' %}">Profile</a>
            <a class="menu-item" href="#">Settings</a>
            <div class="footer">
                <a href="#" id="faqs"><span>FAQs</span></a>
                <a href="{% url 'logout' %}" id="sign_out">Sign out</a>
            </div>
        </div>

        <div class="profile-container" id="profile-container">
        <div class="profile" id="profile">
            <img alt="User  profile picture" height="45px" src="{% static 'images/icons/profile.svg' %}" />
            <img src="{% static 'images/icons/Arrow.svg' %}" alt="arrow" id="dropdown-icon">
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <h2>Hello <br> {{ student.user.username }}!</h2>
            <a class="menu-item" href="{% url 'profile' %}">Profile</a>
            <a class="menu-item" href="#">Settings</a>
            <div class="footer">
                <a href="#" id="faqs"><span>FAQs</span></a>
                <a href="{% url 'logout' %}" id="sign_out">Sign out</a>
            </div>
        </div>
    </div>
    </header>
    <div class="content-background">
    <main class="content-wrapper">
        <div class="content">

            <div class="info">
                <div class="info-wrapper">
                    <div class="info-content">
                        <h1 class="info-title">Welcome, <br>{{ student.user.username }}</h1>
                        <p>Roll No: {{ student.roll_number }}</p>
                        <p>Branch: {{ student.branch }}</p>
                    </div>
                </div>
            </div>
            
            <div class="details">
                <div class="details-wrapper">
                    <div class="details-content">
                        <h1 class="details-title">Today Attendence Check In:</h1>
                        <ul>                            
                            <li>Not Completed</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
</body>
</html>
